@use "../utils/mixins" as *;

.section-title {
  /* DESKTOP GRANDE */
  margin: 4rem 0 2.5rem;

  h2 {
    font-size: 2.3rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 0.6rem;

    &::after {
      @include underline();
    }
  }

  /* RESPONSIVE */

  @include tablet-break {
    margin: 3rem 0 2rem;

    h2 {
      font-size: 2rem;
    }
  }

  @include mobile-break {
    margin: 0.5rem 0 0.5rem;

    .disciplinas {
      .section-title {
        margin-top: 0.5rem;
      }
    }

    h2 {
      font-size: 1.6rem;
      padding-bottom: 0.45rem;
    }
  }
}

.title-center {
  text-align: center;

  h2::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
