@use "../utils/mixins" as *;

.section-title {
  margin: 4rem 0 2.5rem;

  h2 {
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 0.6rem;

    &::after {
      @include underline();
    }
  }

  @include tablet-break {
    margin: 3rem 0 2rem;
  }

  @include mobile-break {
    margin: 2rem 0 1.5rem;
  }
}

.title-center {
  text-align: center;

  h2::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
