
@use "../utils/mixins" as *;

.video-wrapper {
  overflow: hidden;
  border-radius: 18px;
  background: var(--color-bg-card);

  aspect-ratio: 16 / 9;

  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(226, 221, 221, 0.526);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
  }

  /* RESPONSIVE*/

  @include tablet-break {
    aspect-ratio: 4 / 3;
  }

  @include mobile-break {
    aspect-ratio: 1 / 1;
  }
}
